<!DOCTYPE html>
<html lang="en" ng-app="InternetGis">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="styles/layout.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>  
  <script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBR48eWLpcfyXoBH5YbJvBRfdvpRfDymxo&libraries=places,drawing&sensor=false"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular.min.js"></script>
  <script src="js/notify.min.js"></script>
  <script src="js/controllers.js"></script>
  <title>CourierGpsTracker</title>
</head>
<body ng-controller="MainCtrl">
  <div id="content">
    <div id="control_panel">
      <h2 class="page-header">Control Panel</h2>

      
      <div class="input-group" id="search-box">
        <span class="input-group-addon" id="basic-addon">
          <span class="fa fa-map-marker"></span>
        </span>
        <input id="city-search" ng-model="newCityName" type="text" class="form-control" placeholder="Enter your address" aria-describedby="basic-addon">
        </input>
      </div>
      <h3>Address List</h3> 
      <div id="cities-list-container">
        <ul id="cities-list" class="list-group">
          <li class="city list-group-item" ng-repeat="city in cities">
            <span ng-click="showCity($index)" class="cityName">{{city.name}}</span>
            <div class="remove-city-container">
              <div class="remove-city fa fa-times" ng-click="removeCity($index)"></div>
            </div>
          </li>       
        </ul>
      </div>

      <div id="salesman-box">
      <h3>Building a route</h3>
      <div class="form-group">
        <select id="start-point-select" class="form-control" ng-model="startPoint" ng-change="startPointChanged()">
          <option value="" disabled selected>Start point</option>
          <option ng-repeat="city in cities">{{city.name}}</option>
        </select>


        <div id="back-to-start-checkbox" class="checkbox">
          <label>
            <input type="checkbox" ng-model="backToStart">Back to the start</input>  
          </label>             
        </div>        
        <select id="end-point-select" class="form-control" ng-model="endPoint" ng-disabled="backToStart">
          <option value="" disabled selected>End point</option>
          <option ng-repeat="city in cities" ng-if="city.name!=startPoint">{{city.name}}</option>
        </select>
      </div>
      </div>

      <button id="b-calculate" ng-click="calculatePath()" class="button">Get Directions</button>
      <button ng-click="backToHome()" class="button" >Home</button>
        <a href="javascript:document.location.reload();" ONMOUSEOVER="window.status='Refresh'; return true"
              ONMOUSEOUT="window.status='ah... that was good'">
              <button id="refresh" class="button">Refresh</button>
            </a>
      <button ng-click="showMarkers()" class="button" >Show All Markers</button>
      <button ng-click="hideMarkers()" class="button">Hide Markers</button>      
      <input class="button" type="button" value="Close" onclick="self.close()">
      <div id="DirectionsListDiv"></div>
      <div id="results">
      <p id="distance" font-size="20"><label>Trip Distance: </label> 0 <label> km </label></p>
      <p id="duration"><label>Trip Duration: </label> 0 <label> min </label></p>
    </div>
    </div>
    <div id="map_canvas"></div>
  </div>  
</body>
</html>